%p.pull-right
-#%button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", :type => "button"} Toggle nav
.jumbotron
  %h2 DistilleryShop -  Portal in the world of unforgettable impressions!
  %p On our site you can find a lot of products that you will certainly delight! You can select the category you need and sort the products by the desired category.